{% extends 'layout.html' %}

{% block body %}
<h1>管理用户<small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/dashboard">返回</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>学号</th>
        <th>姓名</th>
        <th>号码</th>
        <th>权限</th>
        <th>操作</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{user.school_num}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        {% if user.rank == 1 %}
        <td><span class="btn btn-primary">管理</span></td>
        {% else %}
        <td><span class="btn btn-info">普通 </span></td>
        {% endif %}
        {% if user.rank == 1 %}
        <td>
            <form action="{{url_for('admin_set',school_num=user.school_num)}}" method="post">
                <input type="hidden" name="_method" value="edit">
                <input type="submit" value="取消管理" class="btn btn-warning">
            </form>
        </td>
        {% else %}
        <td>
            <form action="{{url_for('admin_set',school_num=user.school_num)}}" method="post">
                <input type="hidden" name="_method" value="edit">
                <input type="submit" value="设为管理" class="btn btn-success">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}