{% extends 'layout.html' %}

{% block body %}
<h1>文件备份<small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/dashboard">返回</a>
<a class="btn btn-success" href="/dashboard">备份</a>

<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>日期</th>
        <th>下载</th>
        <th>删除</th>
    </tr>
    {% for file in files | reverse%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{file.name}}</td>
        <td>{{file.date}}</td>
        <td>{{file.date}}</td>
        <td>{{file.date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}